@charset "UTF-8";

#content h2.subTitle {
    text-align: center;
    font-size: 40px;
    color: #292929;
    font-weight: 300;
    letter-spacing: -0.07em;
    padding: 134px 0 80px;
}
div {
    display: block;
}
 html, body, button, dl, dt, dd, div, form, fieldset, legend, h1, h2, h3, h4, h5, h6, input, select, textarea, ul, ol, li, pre, table, td, th, caption, a, button, figure{ 
   margin: 0; 
   padding: 0; 
   line-height: 120%; 
} 
.board_list_wrapper {
    position: relative;
    overflow: hidden;
}
.content {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.board_list_wrapper .board_total {
    color: #999999;
    letter-spacing: -0.045em;
    float: left;
    margin-top: 17px 0px;
}

.board_list_wrapper .board_total strong {
    font-weight: bold;
    color: #009223;
    display: inline-block;
    margin: 0 0 0 3px;
}
.board_list_wrapper .form_search {
    width: 224px;
    display: inline-block;
    vertical-align: middle;
}
.board_list_wrapper table td .date {
    color: #bbbbbb;
    font-family: font_sw;
}

html, body, button, dl, dt, dd, div, form, fieldset, legend, h1, h2, h3, h4, h5, h6, input, select, textarea, ul, ol, li, p, pre, table, td, th, caption, a, button, figure {
    margin: 0;
    padding: 0;
    line-height: 120%;
}

.board_list_wrapper {
    float: none;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
caption {
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.board_list_wrapper table {
    clear: both;
    border-top: 4px solid #009223;
}
.board_list_wrapper table td .icon_notice {
    display: inline-block;
    width: 20px;
    height: 14px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.board_list_wrapper table tr.notice td {
    background-color: #f8f8f8;
}
.board_list_wrapper table td {
    height: 69px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    color: #292929;
    font-size: 16px;
}

.board_list_wrapper table tr.notice td .title a {
    color: #009223;
    font-weight: bold;
}
form {
    display: block;
    margin-top: 0em;
}

.board_list_wrapper table td .title {
    text-align: left;
    letter-spacing: -0.04em;
}
a {
    text-decoration: none;
    color: #333;
}
.board_list_wrapper table td .num {
    color: #ffc300;
    font-family: font_sw;
    font-weight: bold;
}

.pagination {
	justify-content: center;
    margin-top: 34px;
    margin-bottom: 34px;
}
.pagination .arr.prev {
    margin-right: 97px;
}
.pagination .arr {
    display: inline-block;
}
.pagination strong, .pagination a {
    font-family: font_sw;
    font-weight: bold;
    font-size: 18px;
    padding: 0 3px;
    margin: 0 10px;
    display: inline-block;
    color: #bbbbbb;
}
.pagination .arr:after {
    content: '';
    display: block;
    width: 8px;
    height: 12px;
}
.pagination .arr.next {
    margin-left: 97px;
}


