@charset "UTF-8";
ul, li {
	list-style: none;
}

/* body { 
	overflow-x: hidden;
	overflow-y: auto;
} */

#main_manu, #sub_menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*안쪽 여백*/
#main_menu>li>a {
	display: block;
}

/*서브 메뉴 숨기기*/
#sub_menu {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

/*서브 메뉴 마우스 올려 놓을시 나오게 하기*/
#main_menu:hover div{
	height: 220px;
    position: relative;
    width: 100%;
}
#main_menu:hover #sub_menu {
	opacity: 1;
	visibility: inherit;
	width: 100vw;
	position: absolute;
}

.nav-item {
	width: 9%;
	font-size: 18px;
	background-color: white;
}


#sub_menu>li {
	font-size: 15px;
	padding: 5% 0 5%;
	display: block;
}
.nav-item {
	width: 180px;
	position: relative;
	text-align: center;
}

#sub_menu {
	text-align: center;
}

#sub_menu li a {
	color: gray;
}


#sub_menu li>a:hover {
	font-weight: bold;
}

/* 
#main_menu:hover .nav-link {
	color: #009223;
}
.main_tap_event_wrapper {
	position: relative;
	height: 490px;
}

.main_tap_event_wrapper ul {
	position: relative;
	height: 440px;
	overflow: hidden;
}

.main_tap_event_wrapper ul li {
	float: left;
	list-style: none;
	position: relative;
	width: 1280px;
}

.main_tap_event_wrapper .quick_link {
	overflow: hidden;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 1170px;
	margin-left: -585px;
	text-align: right;
	z-index: 5;
}

.main_tap_event_wrapper .quick_link .quick_link_content {
	overflow: hidden;
	float: right;
	display: table;
}

.main_tap_event_wrapper .quick_link .quick_link_content>div {
	display: table-cell;
	vertical-align: bottom;
	height: 80px;
}

.main_tap_event_wrapper .quick_link .quick_link_content .store a {
	background-color: #ffce32;
	border-radius: 30px 0 0 0;
	float: right;
	transition-duration: 0.2s;
	letter-spacing: -0.02em;
}

.main_tap_event_wrapper .quick_link .quick_link_content>div a {
	display: block;
	width: 300px;
	height: 80px;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.main_tap_event_wrapper .quick_link .quick_link_content .franchise a {
	background-color: #009223;
	border-radius: 0 0 30px 0;
	float: left;
	letter-spacing: -0.05em;
}

.tab_btn:after {
	content: "";
	display: block;
	clear: both;
}

.tab_btn li {
	float: right;
	display: block;
	width: 110px;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
	color: #000;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	font-weight: bold;
}

.tab_btn li.on {
	background-color: white;
	color: #009223;
}

.tab_cont {
	width: 1200px;
	height: 320px;
	position: relative;
}

.tab_cont>li {
	width: 1200px;
	height: 320px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	overflow: visible;
}

.tab_cont>li:nth-child(1) {
	background-color: white;
	display: block;
}

.tab_cont>li:nth-child(2) {
	background-color: white;
}

.tab_cont>li:nth-child(3) {
	background-color: white;
}

.tab_cont>li:nth-child(4) {
	background-color: white;
}

.quick_menu {
	text-align: center;
	padding: 40px 0 37px;
}

.quick_menu ul {
	overflow: hidden;
	display: inline-block;
}

.quick_menu ul li a {
	display: block;
	overflow: hidden;
	position: relative;
	height: 70px;
	padding-left: 90px;
}

.quick_menu ul li .icon {
	background: url(image/ETC_icon/icon_quickmenu.png) no-repeat;
	width: 70px;
	height: 70px;
	position: absolute;
	left: 0;
	top: 0;
}

.quick_menu ul li strong {
	color: black;
	font-size: 18px;
	display: block;
	margin-top: 12px;
	text-align: left;
}

.quick_menu ul li span {
	color: silver;
	font-size: 13px;
	display: block;
	margin-top: 6px;
	letter-spacing: -0.02em;
	text-align: left;
} */

/* .tab_cont ul>li{
	width: 260px;
	text-align: center;
}
.tab_cont img{
	width: 100%;
	height: 182px;
}
.tab_cont ul li{
	float: left;
	margin-right: 30px;
}
.tab_cont ul li:hover img{
	transform:scale(1.2 , 1.2);
}
.tab_cont>title{
	color: black;
}
.tab_cont>p{
	font-size: 12px;
} */
/*해더 메뉴 부분 필요 요소들 끝*/